EIA_API_KEY=YOUR_API_KEY_HERE
NOAA_API_TOKEN=YOUR_TOKEN_HERE
DATABRICKS_TOKEN=YOUR_TOKEN_HERE
DATABRICKS_HOST=YOUR_HOST_URL_HERE
DATABRICKS_HTTP_PATH=YOUR_HTTP_PATH_HERE
DATABRICKS_SQL_TOKEN=YOUR_TOKEN_HERE
ANTHROPIC_API_KEY=YOUR_API_KEY_HERE